<?xml version="1.0" encoding="utf-8" ?>
<FieldMap>
  <ClientId>25253</ClientId>
  <SearchFilter>
    <FilterQuestion>
      <Id>1648</Id>
      <Title>JobTitle</Title>
    </FilterQuestion>
    <FilterQuestion>
      <Id>53209</Id>
      <Title>Location</Title>
    </FilterQuestion>
  </SearchFilter>
  <SearchKeyword>
    <KeywordQuestion>
      <Id>1648</Id>
      <Title>Keyword</Title>
      <Type>text</Type>
      <Watermark>Enter Job Title Or Keywords</Watermark>
    </KeywordQuestion>
    <KeywordQuestion>
      <Id>53209</Id>
      <Title>Location</Title>
      <Type>location</Type>
      <Watermark>Location</Watermark>
    </KeywordQuestion>   
  </SearchKeyword>
  <SearchResult>
    <ResultQuestion>
      <Id>1648</Id>
      <Title>Job Title</Title>
    </ResultQuestion>
    <ResultQuestion>
      <Id>53209</Id>
      <Title>Location</Title>
    </ResultQuestion>
    <ResultQuestion>
      <Id>1672</Id>
      <Title>Job ID</Title>
    </ResultQuestion>
  </SearchResult>
</FieldMap>