<html>

<head>
    <title>Page Title</title>
    <!-- <link href="Content/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="styles/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" />
    <link href="styles/pagestyle.css" rel="stylesheet" type="text/css" />


    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/jquery-ui.min.js"></script>

    <script src="Scripts/angular.min.js"></script>

    <script src="Scripts/angular-animation.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="angular/angular_module.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

    <!-- <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0"
        src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script> -->

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- <script src="Scripts/esm/popper.min.js"></script> -->

</head>

<body ng-app="myModule" ng-cloak ng-controller="myController">

    <div class="container" style="border:1px solid #808080;border-radius:9px">
        <div class="mb-5 mt-5 col-md-10 mx-auto">
            <form class="row">
                <div ng-repeat="q in ctrlSearchQuestions" class="col">
                    <div ng-if="q.Type=='text'" class="form-group">
                        <label>Keyword</label>
                        <input type="text" class="form-control" id="{{q.Id}}" placeholder="{{q.Watermark}}"
                            ng-model="q.SearchKey" autocomplete="off">
                    </div>
                    <div ng-if="q.Type=='singleselect'" class="form-group">
                        <label>Location</label>

                        <input type="text" ng-model="q.SearchKey" placeholder="{{q.Watermark}}"
                            uib-typeahead="location.Description as location.Description for location in Locationdata | filter:{Description:$viewValue}"
                            typeahead-popup-template-url="customPopupTemplate.html" class="form-control">

                        <script type="text/ng-template" id="customPopupTemplate.html">
                                <div class="custom-popup-wrapper form-group"
                                   ng-style="{top: position().top+'px', left: position().left+'px'}"
                                   style="display: block;position: absolute;z-index: 1;"
                                   ng-show="isOpen() && !moveInProgress"
                                   aria-hidden="{{!isOpen()}}">
                              
                                  <ul class="list-group" role="listbox">
                                    <li class=" list-group-item list-group-item-action text-white" 
                                    ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                                      ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                                      <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                                    </li>
                                  </ul>
                                </div>
                        </script>
                        <!-- <input type="text" class="form-control" id="tbCountries" autocomplete="off"
                            placeholder="{{q.Watermark}}" ng-model="q.SearchKey" list="loc_list">
                        <datalist id="loc_list" class="ui-autocomplete">
                            <option value=''></option>{{Locationdata}}
                            <option ng-repeat="location in Locationdata| filter:loc" value="{{location.Description}}">
                            </option>
                        </datalist> -->


                    </div>
                </div>

                <div class="pull-right mt-4">
                    <button type="submit" id="btnSearch" ng-click="SearchJob()"
                        class="btn  btn-lg btn-primary">Search</button>
                </div>
                <!-- <div>
                        <input type="checkbox" id="hotjob" ng-model="Searchfilter.IsHotJob" ng-click="featuredjobs('','')" /> <span>Hot Jobs</span>
                    </div> -->
            </form>
        </div>



        <div class="row" ng-if="exists(Jobs) ">
            <div class="{{(Searchfilter.IsHotJob)?'col-md-12':'col-md-8'}}">
                <!-- <h2 class="my-4">Job search result</h2> -->
                <div class="row mb-2 ml-2">
                    <div ng-repeat="f in Searchfilter.FilterCategories"
                        ng-if="(f.FilterItems | filter : {IsSelected:true}).length > 0">
                        <!--ng-if="f.filterCatSelected != undefined && f.filterCatSelected != null && f.filterCatSelected >= 0"-->
                        <div class="clearfix">
                            {{f.Title}}:
                            <div class="btn btn-info px-1 mx-1 my-1"
                                ng-repeat="i in f.FilterItems | filter : {IsSelected:true}"
                                ng-init="f.filterCatSelected = $index">
                                {{i.FilterItemTitle}} <span ng-click="i.IsSelected = false;SearchJob();">
                                    <i class="fa fa-close"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="exists(Jobs)">
                    <div
                        ng-repeat="job in Jobs.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))|filter:Searchfilter.IsHotJob?{questionField:{'idField':idField,'valueField':valuefield}}: ''">
                        <div class=" card w-100 border-default mb-2 ">
                            <div class=" card-body">
                                <span class="card-text" ng-repeat="q in job.questionField">
                                    <h3 class="card-title text-primary" ng-if="getQuestionProp(q.idField)=='Job Title'">
                                        <a href="{{job.jobDetailLinkField}}" target="#">
                                            {{q.valueField}}
                                        </a>
                                    </h3>

                                    <span class="mr-3" ng-if="getQuestionProp(q.idField)=='Job Title'">
                                        <strong>{{getQuestionProp(q.idField)}} : </strong>{{q.valueField}}
                                    </span>
                                    <span class="mr-3" ng-if="getQuestionProp(q.idField)=='Location'">
                                        <strong>{{getQuestionProp(q.idField)}} : </strong>{{q.valueField}}
                                    </span>
                                </span>
                                <div class="text-right">
                                    <a href="{{job.jobDetailLinkField}}" target="#" class="btn btn-primary">Apply
                                        Job</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        ng-change="pageChanged()" num-pages="numPages" items-per-page="itemsPerPage"></ul>


                </div>
                <div ng-if="!exists(Jobs)">
                    Please add or change search criteria for Search result.
                </div>

            </div>

            <div class="col-md-4" ng-if="!Searchfilter.IsHotJob">

                <!-- Categories Widget -->
                <div id="container">
                    <div id="accordion">
                        <diV class="card my-2 text-center">
                            <div class="card-header" style="background-color:#0592ba;">
                                <span class="card-title text-light">
                                    <h5> FILTER RESULTS</h5>
                                </span>
                            </div>
                        </diV>
                        <div class="card my-2"
                            ng-repeat="filter in ($scope.Searchfilter.IsHotJob?Searchfilter.FilterCategories:Searchfilter.FilterCategories)">


                            <div class="collapsed card-header" style="background-color:#0592ba;"
                                ng-click="collapseIt($index)" data-toggle="collapse"
                                href="#collapse{{filter.Title.replace(' ','')}}">
                                <a class="card-link ">
                                    <span class="card-title text-light text-left">
                                        <b>{{filter.Title}}</b>
                                        <i ng-if="collapseId!=$index" class=" fa fa-plus pull-right text-light"></i>
                                        <i ng-if="collapseId==$index" class=" fa fa-minus pull-right text-light"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapse{{filter.Title.replace(' ','')}}" ng-show="collapseId==$index" class=""
                                data-parent="#accordion">
                                <div class="card-body filterscroll" ng-if="filter.FilterItems != null">
                                    <ul class="list-group list-group-flush"
                                        ng-repeat="a in filter.FilterItems|orderBy:'FilterItemTitle'">
                                        <li class="list-group-item" ng-if="a.FilterItemTitle!=null">
                                            <input type="checkbox" id="{{a.FilterItemTitle}}" ng-model="a.IsSelected"
                                                autocomplete="off" class="text-left" ng-change='SearchJob(filter)' />
                                            <label for="{{a.FilterItemTitle}}" class="text-right">
                                                {{a.FilterItemTitle}} ({{a.FilterItemResultCount}})
                                            </label>
                                            <!--<a href="#" ng-click="myFunc()">{{a.FilterItemTitle}} ({{a.FilterItemResultCount}})</a>-->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <diV class="card my-2 text-center" ng-click="clearFilter()">
                            <button class=" btn btn-info">
                                <h5> Clear Filter</h5>
                            </button>
                        </diV>
                    </div>
                </div>

            </div>
        </div>


        <div ng-if="showfeaturedJobs==true" class="row bg-info mx-auto rounded text-white  mb-2">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto text-center mt-3">
                <h2> Fetured Jobs</h2>
            </div>
            <div class="col-md-12">
                <div class="card-deck" ng-repeat="filter in Searchfilter.FeaturedFilterCategories"
                    ng-if="filter.Title=='Job Role'">
                    <div class="card  bg-transparent border-info" ng-repeat="f in filter.FilterItems| limitTo:4"
                        ng-if="f.FilterItemTitle!=null">
                        <div class="card-header bg-transparent border-info">
                            <a href="" ng-click="featuredjobs(filter.Id,f.FilterItemTitle)"
                                class="card-title text-white text-center">
                                <h5>
                                    {{f.FilterItemTitle.toUpperCase()}}
                                </h5>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Find jobs related to {{f.FilterItemTitle}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>


</body>

</html>